<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main_test.Appium_test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Homeless_DoesNotAnswer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Cancel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Submit_without_answering_Q1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>start2Area_submitSurvey</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Decoy_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_survey_homeless</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Non_Homeless_DoesNotAnswer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Refresh</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_survey_nonhomeless</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_survey_Decoy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>start3Area_submitSurvey</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startArea_StartSurvey</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
