<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Cancel()[pri:18, instance:main_test.Appium_test@57e1b0c]">Cancel</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:23:51</td>   <td>-140889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Decoy_validation()[pri:6, instance:main_test.Appium_test@57e1b0c]">Decoy_validation</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:24:55</td>   <td>-77225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Homeless_DoesNotAnswer()[pri:8, instance:main_test.Appium_test@57e1b0c]">Homeless_DoesNotAnswer</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:16:12</td>   <td>-599587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Login()[pri:1, instance:main_test.Appium_test@57e1b0c]">Login</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Logout()[pri:19, instance:main_test.Appium_test@57e1b0c]">Logout</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:24:28</td>   <td>-103323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Non_Homeless_DoesNotAnswer()[pri:7, instance:main_test.Appium_test@57e1b0c]">Non_Homeless_DoesNotAnswer</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Refresh()[pri:17, instance:main_test.Appium_test@57e1b0c]">Refresh</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:25:15</td>   <td>-56745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q1()[pri:9, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q1</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:25:26</td>   <td>-46204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q2()[pri:10, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q2</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:25:46</td>   <td>-26069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q3()[pri:11, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q3</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:25:56</td>   <td>-15549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q4()[pri:12, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q4</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:07</td>   <td>-4976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q5()[pri:13, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q5</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>-74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.Submit_without_answering_Q6()[pri:14, instance:main_test.Appium_test@57e1b0c]">Submit_without_answering_Q6</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:17:24</td>   <td>-527477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:18:36</td>   <td>-456183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:19:13</td>   <td>-419240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:19:59</td>   <td>-372898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:23:51</td>   <td>-140891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:24:28</td>   <td>-103324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:24:55</td>   <td>-77226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:15</td>   <td>-56745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:26</td>   <td>-46206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:46</td>   <td>-26070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:56</td>   <td>-15550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:07</td>   <td>-4978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:16:12</td>   <td>-599588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:17:24</td>   <td>-527473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:18:36</td>   <td>-456182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:19:13</td>   <td>-419240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:19:59</td>   <td>-372896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:23:51</td>   <td>-140890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:24:28</td>   <td>-103323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:24:55</td>   <td>-77225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:15</td>   <td>-56745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:26</td>   <td>-46204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:46</td>   <td>-26069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:25:56</td>   <td>-15549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:07</td>   <td>-4977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:26:12</td>   <td>47</td> <td>&nbsp;</td><td title="&lt;&lt;Base.closeConnection()[pri:0, instance:main_test.Appium_test@57e1b0c]">&lt;&lt;closeConnection</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>20/05/04 15:16:12</td>   <td>-599907</td> <td>&nbsp;</td><td title="&gt;&gt;Base.setUp()[pri:0, instance:main_test.Appium_test@57e1b0c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>-58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.start2Area_submitSurvey()[pri:15, instance:main_test.Appium_test@57e1b0c]">start2Area_submitSurvey</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:26:12</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.start3Area_submitSurvey()[pri:16, instance:main_test.Appium_test@57e1b0c]">start3Area_submitSurvey</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:17:24</td>   <td>-527473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.startArea_StartSurvey()[pri:2, instance:main_test.Appium_test@57e1b0c]">startArea_StartSurvey</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:18:36</td>   <td>-456182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.submit_survey_Decoy()[pri:3, instance:main_test.Appium_test@57e1b0c]">submit_survey_Decoy</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:19:59</td>   <td>-372896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.submit_survey_homeless()[pri:5, instance:main_test.Appium_test@57e1b0c]">submit_survey_homeless</td> 
  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>20/05/04 15:19:13</td>   <td>-419239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Appium_test.submit_survey_nonhomeless()[pri:4, instance:main_test.Appium_test@57e1b0c]">submit_survey_nonhomeless</td> 
  <td>main@1540270363</td>   <td></td> </tr>
</table>
